<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>AnimalType</th>
            <th>King</th>
            <th>GoodGuy</th>
            <th>Balance</th>
            <th>Currency</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@i</td>
                <td>@Model[i].Name</td>
                <td>@Model[i].AnimalType</td>
                <td>
                    @if (Model[i].IsKing)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
                <td>
                    @if (Model[i].IsGood)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
                <td>@Model[i].Balance.ToString("0.00")</td>
                <td>@Model[i].Currency</td>
            </tr>
        }
    </table>
</body>
</html>